<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.yzl.pm.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="cn.net.yzl.pm.entity.Role">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_desc" jdbcType="VARCHAR" property="roleDesc" />
    <result column="role_perms" jdbcType="VARCHAR" property="rolePerms" />
    <result column="role_sort" jdbcType="INTEGER" property="roleSort" />
    <result column="data_scope" jdbcType="INTEGER" property="dataScope" />
    <result column="menu_check_strictly" jdbcType="INTEGER" property="menuCheckStrictly" />
    <result column="dept_check_strictly" jdbcType="INTEGER" property="deptCheckStrictly" />
    <result column="is_enable" jdbcType="INTEGER" property="isEnable" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_code" jdbcType="VARCHAR" property="createCode" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_code" jdbcType="VARCHAR" property="updateCode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, role_name, role_desc,role_perms, role_sort, data_scope, menu_check_strictly,
    dept_check_strictly, is_enable, is_del,create_time, create_code, update_time, update_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.net.yzl.pm.entity.Role">
    insert into role (id, role_name,
      role_desc,role_perms, role_sort,
      data_scope, menu_check_strictly, dept_check_strictly, 
      is_enable,is_del, create_time, create_code,
      update_time, update_code)
    values (#{id,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR},
      #{roleDesc,jdbcType=VARCHAR},  #{rolePerms,jdbcType=VARCHAR},#{roleSort,jdbcType=INTEGER},
      #{dataScope,jdbcType=INTEGER}, #{menuCheckStrictly,jdbcType=INTEGER}, #{deptCheckStrictly,jdbcType=INTEGER}, 
      #{isEnable,jdbcType=INTEGER},#{isDel,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
      #{createCode,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.net.yzl.pm.entity.Role" useGeneratedKeys="true" keyProperty="id">
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="roleDesc != null">
        role_desc,
      </if>
      <if test="rolePerms != null">
        role_perms,
      </if>
      <if test="roleSort != null">
        role_sort,
      </if>
      <if test="dataScope != null">
        data_scope,
      </if>
      <if test="menuCheckStrictly != null">
        menu_check_strictly,
      </if>
      <if test="deptCheckStrictly != null">
        dept_check_strictly,
      </if>
      <if test="isEnable != null">
        is_enable,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createCode != null">
        create_code,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateCode != null">
        update_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleDesc != null">
        #{roleDesc,jdbcType=VARCHAR},
      </if>
      <if test="rolePerms != null">
        #{rolePerms,jdbcType=VARCHAR},
      </if>
      <if test="roleSort != null">
        #{roleSort,jdbcType=INTEGER},
      </if>
      <if test="dataScope != null">
        #{dataScope,jdbcType=INTEGER},
      </if>
      <if test="menuCheckStrictly != null">
        #{menuCheckStrictly,jdbcType=INTEGER},
      </if>
      <if test="deptCheckStrictly != null">
        #{deptCheckStrictly,jdbcType=INTEGER},
      </if>
      <if test="isEnable != null">
        #{isEnable,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createCode != null">
        #{createCode,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateCode != null">
        #{updateCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.net.yzl.pm.entity.Role">
    update role
    <set>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleDesc != null">
        role_desc = #{roleDesc,jdbcType=VARCHAR},
      </if>
      <if test="rolePerms != null">
        role_perms = #{rolePerms,jdbcType=VARCHAR},
      </if>
      <if test="roleSort != null">
        role_sort = #{roleSort,jdbcType=INTEGER},
      </if>
      <if test="dataScope != null">
        data_scope = #{dataScope,jdbcType=INTEGER},
      </if>
      <if test="menuCheckStrictly != null">
        menu_check_strictly = #{menuCheckStrictly,jdbcType=INTEGER},
      </if>
      <if test="deptCheckStrictly != null">
        dept_check_strictly = #{deptCheckStrictly,jdbcType=INTEGER},
      </if>
      <if test="isEnable != null">
        is_enable = #{isEnable,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createCode != null">
        create_code = #{createCode,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateCode != null">
        update_code = #{updateCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.net.yzl.pm.entity.Role">
    update role
    set
      role_name = #{roleName,jdbcType=VARCHAR},
      role_desc = #{roleDesc,jdbcType=VARCHAR},
      role_perms = #{rolePerms,jdbcType=VARCHAR},
      role_sort = #{roleSort,jdbcType=INTEGER},
      data_scope = #{dataScope,jdbcType=INTEGER},
      menu_check_strictly = #{menuCheckStrictly,jdbcType=INTEGER},
      dept_check_strictly = #{deptCheckStrictly,jdbcType=INTEGER},
      is_enable = #{isEnable,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_code = #{createCode,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_code = #{updateCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <update id="updateRoleInfo">
    update role
      <set>
        is_enable = #{isEnable,jdbcType=INTEGER},
      <if test="updateCode != null">
        update_code = #{updateCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{roleId,jdbcType=INTEGER}
    </update>

    <select id="getRoleList" resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List" />
    FROM role
    WHERE is_del = 0
      <if test="isEnable != null">
        AND is_enable = #{isEnable,jdbcType=INTEGER}
      </if>
      <choose>
        <when test="sortType == 1">
          ORDER BY ${sortField} ASC
        </when>
        <when test="sortType == 2">
          ORDER BY ${sortField} DESC
        </when>
        <otherwise>
          ORDER BY role_sort
        </otherwise>
      </choose>
  </select>

  <select id="getRoleMaxSort" resultType="java.lang.Integer">
    SELECT
      MAX(role_sort)
    FROM role
  </select>

  <!--根据角色名称查询是否存在当前角色-->
  <select id="getRoleInfoByRoleName" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM role
    WHERE role_name = #{roleName,jdbcType=VARCHAR}
  </select>

</mapper>